@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Karla:ital,wght@0,200..800;1,200..800&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Manrope:wght@200..800&family=Overpass:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Karla", serif;
}

body {
  background-color: hsl(148, 38%, 91%);
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
  overflow-x: hidden;
  flex-direction: column;
}

.container {
  width: 75%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  color: hsl(187, 24%, 22%);
  background-color: hsl(0, 0%, 100%);
  border-radius: 10px;
  padding: 1.5rem;
}

.error {
  color: #d73c3c;
  visibility: hidden;
}

h1 {
  color: hsl(187, 24%, 22%);
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  gap: 1rem;
}
form span {
  color: hsl(169, 82%, 27%);
}
form .name {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  gap: 0.5rem;
}
form .name .first {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
form .name .first input {
  width: calc(100% - 1rem);
  padding: 0.8rem 0.5rem;
  border-radius: 5px;
  border: 1px solid hsl(186, 15%, 59%);
  outline: none;
}
form .name .first input:hover {
  cursor: pointer;
  border: 1px solid hsl(169, 82%, 27%);
}
form .name .first input:focus {
  border: 1px solid hsl(169, 82%, 27%);
}
form .name .last {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
form .name .last input {
  width: calc(100% - 1rem);
  padding: 0.8rem 0.5rem;
  border-radius: 5px;
  border: 1px solid hsl(186, 15%, 59%);
  outline: none;
}
form .name .last input:hover {
  cursor: pointer;
  border: 1px solid hsl(169, 82%, 27%);
}
form .name .last input:focus {
  border: 1px solid hsl(169, 82%, 27%);
}
form .email {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
form .email input {
  width: calc(100% - 1rem);
  padding: 0.8rem 0.5rem;
  border-radius: 5px;
  border: 1px solid hsl(186, 15%, 59%);
  outline: none;
}
form .email input:hover {
  cursor: pointer;
  border: 1px solid hsl(169, 82%, 27%);
}
form .email input:focus {
  border: 1px solid hsl(169, 82%, 27%);
}
form .Query {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  gap: 1rem;
}
form .Query div {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
form .Query div label {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  border: 1px solid hsl(186, 15%, 59%);
  border-radius: 5px;
  padding: 0.8rem 0.5rem;
  cursor: pointer;
  position: relative;
}
form .Query div input {
  width: 20px;
  height: 21px;
  cursor: pointer;
  outline: none;
}
form .Query div .radio {
  position: absolute;
  visibility: hidden;
}
form .message {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  height: 12rem;
}
form .message input {
  width: calc(100% - 1rem);
  padding: 0.8rem 0.5rem;
  border-radius: 5px;
  border: 1px solid hsl(186, 15%, 59%);
  outline: none;
}
form .message input:hover {
  cursor: pointer;
  border: 1px solid hsl(169, 82%, 27%);
}
form .message input:focus {
  border: 1px solid hsl(169, 82%, 27%);
}
form .message div {
  height: 90%;
}
form .message div textarea {
  height: calc(100% - 2rem);
  width: calc(100% - 2rem);
  border-radius: 5px;
  border: 1px solid hsl(186, 15%, 59%);
  resize: none;
  outline: none;
  padding: 1rem;
  font-size: 1rem;
}
form .checkbox {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  gap: 0.5rem;
  position: relative;
  margin-top: 1rem;
}
form .checkbox input {
  width: 1.2rem;
  cursor: pointer;
  outline: none;
}
form .checkbox .checked {
  position: absolute;
  cursor: pointer;
  visibility: hidden;
}
form .checkbox label {
  cursor: pointer;
}
form .submit {
  margin-top: 0.5rem;
  text-align: center;
  padding: 0.8rem 0rem;
  border-radius: 5px;
  border: 1px solid hsl(169, 82%, 27%);
  background-color: hsl(169, 82%, 27%);
  color: hsl(0, 0%, 100%);
  font-size: 1rem;
}
form .submit:hover {
  cursor: pointer;
  background-color: #063f36;
  border: 1px solid #063f36;
}

@media (min-width: 768px) {
  body {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  .container {
    width: 40rem;
  }
  form .name {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
  form .name .first {
    width: 50%;
  }
  form .name .last {
    width: 50%;
  }
  form .Query div {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
  form .Query div label {
    width: 50%;
  }
}
@media (min-width: 0px) and (max-width: 320px) {
  .checked {
    width: 0.9rem;
  }
}
@media (min-width: 320px) and (max-width: 375px) {
  .checked {
    width: 1rem;
  }
}
@media (min-width: 0px) and (max-width: 375px) {
  .checked {
    top: 0.7rem;
  }
}
@media (min-width: 375px) and (max-width: 416px) {
  .checked {
    top: 0.57rem;
    width: 1.2rem;
    left: -0.1rem;
  }
}
@media (min-width: 417px) {
  .checked {
    top: 0rem;
  }
}
@media (min-width: 1930px) {
  body {
    overflow: hidden;
    padding: 0;
  }
}/*# sourceMappingURL=style.css.map */