.line{
    transition: all 0.5s,opacity 0.3s;
}

.cross-1 {
    transform:rotate(45deg) translate(5px, 5px);
}

.cross-2{
    transform: translateX(35px);
    opacity: 0;
}

.cross-3 {
    transform: rotate(-45deg) translate(5px, -5px);
}






